################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HillelCourse/HomeWork3/WhatsTheSeasonNow/WhatsTheSeasonNow.csproj
/HillelCourse/HomeWork3/WhatsTheSeasonNow/Program.cs
